<div class="lastDiv">
  <div class="heading1Div last">
    <span class="heading1DivSpan last">
      <h3><u>Contact Information</u></h3>
      <h3>1113 Edgewood Avenue,Fresno,California</h3>
      <h3>Zipcode-93721 Number-209-220-1581</h3><br>
      <h3><u>Follow us on social media</u></h3>
      <a class="btn btn-social-icon btn-twitter" href="https://www.twitter.com">
     <span id="socialLink" class="fa fa-twitter"></span>
      </a>
       <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
     <span id="socialLink" class="fa fa-facebook"></span>
   </a>
   <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com">
     <span id="socialLink" class="fa fa-instagram"></span>
   </a>
   <a class="btn btn-social-icon btn-github" href="https://www.github.com">
     <span id="socialLink" class="fa fa-github"></span>
   </a>
    </span>
  </div>
</div>
